body {
    padding: 0;
    text-align: center;
  }
  
  #game-intro {
    padding: 20px 0px;
  }

  h2 {
    font-size: 40px; 
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: #556662 8px -5px 2px;
    color: rgb(44, 70, 54);;
  }
  
  
  #game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/Background.jpg);
    background-size: cover;
    animation: slide 5s linear infinite;
    
  }
  
  @keyframes slide {
    0% {
      background-position: 0 -1000px;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 50px;
    }
  }
  
  #game-end {
    display: none;
  }

  #win-game-end {
    display: none;
  }

  .game-intro p {
    font-size: 18px;
    font-family: "Verdana";
  }
  
  .logo-img {
    height: 650px;
    width: 900px;
  }
  
  .arrows-img {
    width: 150px;
  }
  
  body button {
    font-size: 30px;
    background-color: rgb(37, 70, 83);
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

